name: Mirror to Bitbucket
on:
  push:
    branches:
      - "**"
  pull_request:
    types: [closed]
    branches:
      - "**"

jobs:
  mirror:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.pull_request.merged == true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Bitbucket
        env:
          BITBUCKET_API_TOKEN: ${{ secrets.BITBUCKET_API_TOKEN }}
          BITBUCKET_WORKSPACE: ${{ secrets.BITBUCKET_WORKSPACE }}
        run: |
          REPO_NAME=$(echo "${{ github.event.repository.name }}" | tr '[:upper:]' '[:lower:]')
          git remote add bitbucket "https://x-bitbucket-api-token-auth:${BITBUCKET_API_TOKEN}@bitbucket.org/${BITBUCKET_WORKSPACE}/${REPO_NAME}.git"
          git push --force --all bitbucket
          git push --force --tags bitbucket
